<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Hour</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div>
        <!-- NAV BAR -->
        <div id="navbar" class="d-flex justify-content-start opacity-75 text-white">
            <h1 class="m-3">Cocktail Hour</h1>
        </div>
        <!-- ENTIRE PAGE BELOW NAVBAR -->
        <div class="d-flex justify-content-center ">
            <!-- LEFT SIDE DIVS -->
            <div class="mt-2 p-2">
                <div id="con1">
                    <!-- SEARCH DRINK BY NAME -->
                    <form id="con2" class="container-lg border border-dark m-3 d-flex flex-column text-dark">
                        <div class="mb-1">
                            <label for="coName" class="form-label mt-2">Search by Cocktail Name:</label>
                            <input type="text" name="coName" id="coName" class="form-control form-control-sm"
                                placeholder="Enter cocktail name...">
                            <button class="btn btn-sm btn-secondary mt-1" id="btn1">Submit</button>
                        </div>
                    </form>
                    <!-- SEARCH DRINK BY INGREDIENT -->
                    <form id="con3"class="container-lg border border-dark  m-3 d-flex flex-column  text-dark">
                        <div class="mb-1">
                            <label for="coIngredient" class="form-label mt-2">Search by Ingredient Name:</label>
                            <input type="text" name="coIngredient" id="coIngredient"
                                class="form-control form-control-sm" placeholder="Enter ingredient...">
                            <button class="btn btn-sm btn-secondary mt-1 mb-1" id="btn2">Submit</button>
                        </div>
                    </form>
                    <!-- PICK AT RANDOM BUTTON -->
                    <button class="btn btn-sm btn-secondary m-3 mt-1" id="buttonran">
                        Or pick a cocktail at random!</button>
                    <!-- DIV TO SHOW RANDOM COCKTAIL RESULTS -->
                    <div id="randResults" class="container border border-dark m-3 mb-3 text-dark"></div>
                    <!-- DIV TO DISPLAY COCKTAIL SEARCH RESULTS -->
                    <div id="coResults" class="container border border-dark m-3 mb-3 text-dark text-center"></div>
                    <!-- DIV TO DISPLAY COCKTAIL INGREDIENT SEARCH RESULTS -->
                    <div id="ingResults" class="container border border-dark m-3 mb-3 text-dark text-center"></div>
                </div>
            </div>
            <!-- RIGHT SIDE DIVS/LOGIN AND REGISTRATION -->
            <div class="row m-2 d-flex flex-column">
                <!-- LOGIN DIV -->
                <div class="col m-3">
                    <form id="con3" class="container border border-dark text-dark p-2 mt-1" action="/users/login" method="post">
                        {% for message in get_flashed_messages(category_filter=['log']) %}
                        <p class="text-dark">{{message}}</p>
                        {% endfor %}
                        <h6 class="text-dark">Login</h6>
                        <div>
                            <label for="email">Email:</label>
                            <input type="text" name="email" _name id="email" class="form-control form-control-sm"
                                placeholder="example: joe@aol.com">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control form-control-sm"
                                placeholder="Password">
                        </div>
                        <button class="btn btn-sm btn-secondary mt-1" id="btn3">Login</button>
                    </form>
                </div>
                <!-- REGISTER DIV -->
                <div class="col m-3">
                    <form id="con4" class="container border border-dark text-dark p-2" action="/users/register" method="post">
                        {% for message in get_flashed_messages(category_filter=['reg']) %}
                        <p class="text-dark">{{message}}</p>
                        {% endfor %}
                        <h6 class="text-dark">Register</h6>
                        <div>
                            <label for="email" class="text-dark">Email:</label>
                            <input type="text" name="email" id="email2" class="form-control form-control-sm "
                                placeholder="example: joe@aol.com">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password2" class="form-control form-control-sm"
                                placeholder="must be 8 characters">
                        </div>
                        <div>
                            <label for="confirm_password">Confirm Password:</label>
                            <input type="password" name="confirm_password" id="confirm_password"
                                class="form-control form-control-sm" placeholder="must be 8 characters">
                        </div>
                        <button class="btn btn-sm btn-secondary mt-1" id="btn4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>

</html>